<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        {include file="common/header" /}
    </head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>旧密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_repass" name="oldpassword" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>新密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_pass" name="newpassword" required="" lay-verify="pass" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">最少5个</div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_repass" name="repassword" required="" lay-verify="repass" autocomplete="off" class="layui-input"></div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="save" lay-submit="">修改</button></div>
                </form>
            </div>
        </div>
        <script>
            layui.use(['form', 'layer'],function() {
                $ = layui.jquery;
                var form = layui.form;
                console.log(form);
                layer = layui.layer;

                //实现自定义验证规则
                //自定义验证规则(只要自定义规则返回了数据，就代表没有验证通过)
                form.verify({
                    pass: function(pass) {
                        if (pass.length < 5) {
                            return '新密码至少得5个字符';
                        }
                    },
                    repass: function(repass) {
                        var newpass = $("#L_pass").val();
                        if(repass == ''){
                             return '确认密码不能为空';
                        }
                        if (newpass!== repass ) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(save)',function(data) {
                    console.log(data);
                    //发异步，把数据提交给php
                    $.post("{:url('/admin/updpassword')}",data.field,function(res){
                        if(res.code == 200){
                            layer.alert(res.msg, { icon: 6},function() {
                                xadmin.close();
                            });
                        }else{
                            layerMsg(res.msg);
                        }
                    },'json')
                    
  
                    return false;
                });

            });
        </script>
        
    </body>

</html>